<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/Css.css">
    <title>Title</title>
</head>
<body  background="https://i2.wp.com/bestlifeonline.com/content/uploads/2018/06/corgi-surprised-1-1024x1019.jpg?resize=1024%2C1019&ssl=1">
<div class="topnav">
    <a class="active" href="/page1">Home</a>
    <a href="/page2">page2</a>
    <a href="/page3">page3</a>
    <a href="/page4">page4</a>
    <a href="/page5">page5</a>
    <a href="/page6">page6</a>
</div>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col"> <img src="https://i.pinimg.com/originals/6a/95/0a/6a950a76fe8e8b991238ef28c8b6b7ca.jpg"> </div>
        <div class="col"></div>
        <div class="w-100"></div>
        <div class="col"></div>
        <div class="col">Sharpays look funny</div>
        <div class="col"></div>
        <div class="w-100"></div>
        <div class="col"></div>
        <div class="col"><img src="https://i.pinimg.com/originals/c9/e4/2c/c9e42c2b13d5c31cebd2fad4f30533b2.jpg"> victors facial expression during class</div>
        <div class="col"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>